.Modal-Container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 604;
}

.Modal-Container > .Backdrop {
  background: black;
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.Modal-Container > .Content {
  margin: 200px 20%;
  background: white;
  z-index: 2;
  position: relative;
  padding: 10px;
  width: 600px;
  margin: 120px auto;
  outline: none;
}

.Modal-Container .Close {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  outline: none;
  margin: 10px 5px;
  padding: 10px;
  z-index: 1000;
}

.Modal-Container .Close:hover {
  cursor: pointer;
}

.modal-content {
  padding: 13px 20px;
  display: flex;
  flex-direction: column;
}

.modal-img-div {
  display: flex;
}

.modal-img {
  filter: drop-shadow(0px 2px 15px rgba(0, 0, 0, 0.151415));
}

.modal-img-text-div {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  justify-content: flex-end;
}

.modal-img-text-one {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2b416c;
}

.modal-img-text-two {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  color: #9ca2b7;
  margin-top: 14px;
}

.modal-pricing-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.modal-pricing-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2b416c;
  display: flex;
}

.modal-pricing-content {
  display: flex;
  flex-direction: column;
}

.modal-pricing-text {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.modal-pricing-text-style {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #7788a3;
}

.modal-button {
  display: flex;
  align-self: center;
  padding: 14px 22px;
  align-items: center;
  justify-content: center;
}

.button {
  display: flex;
  border: 1px solid black;
  padding: 17px 22px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .Modal-Container > .Content {
    width: 300px;
  }
}
