.item-container {
  margin: 0 20px;
  padding: 25px 0;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  border-bottom: 1px solid #ececec;
  align-items: center;
}

.item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #2b416c;
}

.item-text-italics {
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  color: #7788a3;
}

.item-campaign {
  display: flex;
}

.item-image {
  width: 40px;
  height: 40px;
}

.item-actions-image {
  width: 24px;
  height: 24px;
}

.item-campaign-text-container {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.item-view {
  display: flex;
  cursor: pointer;
  position: relative;
}

.pricing-text {
  padding: 0 6px;
  font-size: 14px;
  color: #7788a3;
}

.item-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.date-picker {
  position: absolute;
  margin-top: 32px;
  background: white;
  right: 0;
  z-index: 1;
}
